* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.page {
    width: 100%;
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #242426;

    .container {
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;

        .top {
            width: 100%;
            height: 70px;
            background-image: url('../../Assets/Images/riotGame.webp');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            display: flex;
            justify-content: start;
            align-items: center;
            border-radius: 10px;

            button {
                width: 20%;
                height: 70px;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 20px;
                background-color: transparent;
                border: none;
                cursor: pointer;
                position: relative;

                img {
                    width: 40px;
                    height: 40px;
                }

                h5 {
                    color: white;
                    font-size: 10px;
                }

                &.selected {
                    &::after {
                        content: '';
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        height: 2px;
                        background-color: white;
                    }
                }
            }
        }

        .bottom {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            gap: 10px;

            .card {
                width: 160px;
                height: 350px;
                display: flex;
                flex-direction: column;
                align-items: start;
                justify-content: space-around;
                background-color: #26262B;

                img {
                    width: 160px;
                    height: 250px;
                    cursor: pointer;
                }

                p {
                    width: 100%;
                    font-size: 13px;
                    font-weight: 600;
                    color: white;
                }

                span {
                    color: white;
                }

                .icons {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    span {
                        color: white;
                        font-size: 13px;
                        font-weight: 600;
                    }

                    .star {
                        .yellowStar {
                            color: yellow;
                            font-size: 15px;
                        }

                        .whiteStar {
                            font-size: 15px;
                            color: yellow;
                        }
                    }
                }
            }
        }
    }
}