* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.page {
    width: 100%;
    min-height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #242426;

    .container {
        margin-top: 40px;
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;

        .containerTop {
            width: 100%;
            height: 70px;
            background-image: url('../../Assets/Images/nihaiset.webp');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            display: flex;
            justify-content: start;
            align-items: center;

            h1 {
                margin-left: 20px;
                color: white;
            }
        }

        .cardBottom {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            gap: 10px;

            .card {
                width: 160px;
                height: 350px;
                display: flex;
                flex-direction: column;
                align-items: start;
                justify-content: space-around;
                background-color: #26262B;

                img {
                    width: 160px;
                    height: 250px;
                }

                p {
                    width: 100%;
                    font-size: 13px;
                    font-weight: 600;
                    color: white;
                }

                span {
                    color: white;
                }

                .icons {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    span {
                        color: white;
                        font-size: 13px;
                        font-weight: 600;
                    }

                    .star {
                        .yellowStar {
                            color: yellow;
                            font-size: 15px;
                        }

                        .whiteStar {
                            font-size: 15px;
                            color: white;
                        }
                    }
                }

                .cart {
                    width: 90%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .cartIcon {
                        display: flex;
                        justify-content: end;
                        align-items: center;
                        gap: 10px;

                        span {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-size: 20px;
                            cursor: pointer;
                            color: white;
                        }
                    }
                }
            }
        }
    }
}


@media screen and (min-width:1200px) and (max-width:1400px) {}

@media screen and (min-width:992px) and (max-width:1200px) {}


@media screen and (min-width:768px) and (max-width:992px) {
    .page {
        .container {
            width: 90%;
        }
    }
}

@media screen and (min-width:576px) and (max-width:768px) {
    .page {
        .container {
            width: 90%;
        }
    }
}

@media screen and (min-width:300px) and (max-width:576px) {
    .page {
        .container {
            width: 90%;

            .cardBottom{
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}